<%- include('includes/head'); %>

  <section class="container">
    <h1>
      <!--Tags de abertura e final do EJS
          <%  %>
          
          <tag>= titulo %> Não formata bonito
          <tag>- titulo Formata bonito, ideal para quando tem certeza que é HTML
      
          Pode ser usado IF's, For's -->
    </h1>
    <h1>Lorem ipsum</h1>
    <h1><%= umaVariavelLocal  %></h1>
    <form action="/" method="post">
      <label>Cliente</label>
      <input type="text" name="cliente" />
      <button>Submit</button>
    </form>
  </section>
<%- include('includes/footer'); %>